<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoZV_k1HWDVZ5OC0UETZ6iyd5EKhxNSKo</string>
	<key>GCM_SENDER_ID</key>
	<string>731555670155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cypherx</string>
	<key>PROJECT_ID</key>
	<string>cypherx-8417e</string>
	<key>STORAGE_BUCKET</key>
	<string>cypherx-8417e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731555670155:ios:5a7f943102dd5d6aaacc8e</string>
</dict>
</plist>